.downloadLink {
    text-decoration: none;
    font-size: 1.25rem;
    text-transform: uppercase;
    color: $black;
    display: inline-flex;
    align-items: center;
    i {
        margin-right: .5rem;
        font-size: 1.25rem;
    }
}

.downloadLink.mp3 {
    color: $primary-color;
}

@media(min-width: $md) {
    .downloadLink {
        font-size: 1.75rem;
    }
}