.searchBar {
    border-radius: 100px;
    box-shadow: 0 3px 24px rgba(0, 0, 0, 0.15);
    width: 100%;
    max-width: 700px;
    background: $white;
    display: flex;
    transition: box-shadow .5s;
    input {
        padding: 1rem 0 1rem 1.5rem;
        font-size: .875rem;
        border: none;
        outline: none;
        border-radius: 100px 0 0 100px;
        background: $white;
        flex: 1;
    }
    input::placeholder {
        color: $gray;
    }
    input:focus ~ button {
        color: $primary-color;
    }
    button {
        background: none;
        color: $gray;
        border: none;
        outline: none;
        font-size: 1rem;
        padding: 0 1.5rem;
        cursor: pointer;
        transition: color .5s;
    }
}

.searchBar:hover {
    box-shadow: 0 3px 24px rgba(0, 0, 0, 0.3);
}

@media(min-width: $md) {
    .searchBar {
        input {
            padding: 1.5rem 0 1.5rem 2rem;
            font-size: 1.2rem;
        }
        button {
            padding: 0 2rem;
            font-size: 1.5rem;
        }
    }
}