.soundCard {
    padding: 2rem;
    box-shadow: 0 3px 24px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    background: $white;
    transition: box-shadow .5s;
    text-decoration: none;
    h3 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: .75rem;
        color: $black;
        display: block;
    }   
    .tags {
        margin-bottom: 2rem;
    }
    .tag {
        margin-right: .25rem;
        padding: .25rem .8rem;
    }
    .soundPlayer {
        margin-bottom: 2rem;
    }
    .downloadLink {
        margin: 0 1rem 0 0;
    }
}

.soundCard:hover {
    box-shadow: 0 3px 24px rgba(0, 0, 0, 0.3);
}