.soundPlayer {
    .player {
        display: flex;
        align-items: center;
        .play {
            width: 56px;
            height: 56px;
            border-radius: 100%;
            background: $primary-color;
            color: $white;
            outline: none;
            border: none;
            margin-right: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
        .waveform {
            flex: 1;
            cursor: pointer;
        }
    }
}