#categories {
    h2 {
        margin-bottom: 2rem;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .categoryList {
        li {
            margin-bottom: 1rem;
        }
        .link {
            text-decoration: none;
            color: $black;
            font-size: .75rem;
            text-transform: capitalize;
        }
    }
}

@media(min-width: $md) {
    #categories {
        h2 {
            margin-bottom: 3rem;
        }
        .categoryList {
            li {
                margin-bottom: 1.125rem;
            }
            .link {
                font-size: 1.125rem;
            }
        }
    }
}