#faq {
    p {
        margin: 1.5rem 0 3rem;
    }
    a {
        color: $primary-color;
        text-decoration: none;
    }
    a:hover {
        border-bottom: 2px solid $primary-color;
    }
    .whoSection {
        margin: 1.5rem 0 3rem;
        .joe {
            border-radius: 100%;
            width: 175px;
            display: block;
            margin: 0 auto 1.5rem;
        }
        p {
            margin: 0;
        }
    }
}

@media(min-width: $md) {
    #faq {
        p {
            margin: 1.5rem 0 4rem;
        }
        .whoSection {
            display: flex;
            align-items: flex-start;
            margin: 1.5rem 0 4rem;
            .joe {
                margin: 0 2rem 0 0;
            }
            p {
                flex: 1;
                margin: 0;
            }
        }
    }
}