#search {
    background: $background;
    h2 {
        margin-bottom: 2rem;
    }
    .searchTerm {
        color: $primary-color;
    }
    .sounds {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
        grid-gap: 2rem;
    }
    .noResults {
        text-align: center;
        margin: 6rem auto 0;
        img {
            width: 96px;
            opacity: .25;
            margin-bottom: 1rem;
        }
    }
}

@media(min-width: $md) {
    #search {
        h2 {
            margin-bottom: 3rem;
        }
        .sounds {
            grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
        }
        .noResults {
            margin: 6rem auto 0;
            img {
                width: 175px;
                margin-bottom: 2rem;
            }
        }
    }
}