#sound {
    h1 {
        margin-bottom: 1rem;
    }
    .tag {
        margin: 0 .25rem 0 0;
    }
    .soundPlayer {
        margin: 1rem 0;
    }
    .downloadLink {
        margin: 2rem 1rem 0 0;
    }
}

@media(min-width: $md) {
    #sound {
        .tag {
            margin: 0 .5rem 0 0;
        }
        .soundPlayer {
            margin: 2rem 0;
        }
        .downloadLink {
            margin: 2rem 1.5rem 0 0;
        }
    }
}