#sound {
    h1 {
        margin-bottom: 1rem;
    }
    h2 {
        margin: 6rem 0 3rem;
    }
    .tag {
        margin: 0 .25rem 0 0;
    }
    .soundPlayer {
        margin: 1rem 0;
    }
    .downloadLink {
        margin: 2rem 1rem 0 0;
    }
    .sounds {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
        grid-gap: 2rem;
    }
}

@media(min-width: $md) {
    #sound {
        .tag {
            margin: 0 .5rem 0 0;
        }
        .soundPlayer {
            margin: 2rem 0;
        }
        .downloadLink {
            margin: 2rem 1.5rem 0 0;
        }
        .sounds {
            grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
        }
    }
}