#sound {
    h1 {
        margin-bottom: 1rem;
    }
    .description {
        margin-top: 2rem;
    }
    .downloadLink {
        margin: 2rem 1rem 0 0;
    }
    .tag {
        margin: 0 .25rem 1rem 0;
    }
}

@media(min-width: $md) {
    #sound {
        h1 {
            margin-bottom: 1rem;
        }
        .downloadLink {
            margin: 2rem 1.5rem 0 0;
        }
        .tag {
            margin: 0 .5rem 2rem 0;
        }
    }
}